body {
	background: #000;
}

.App{
  padding: 20px;
}

h1 {
	color: #fff;
	font-size: 4rem;
	margin: 0.5rem 0;
	text-align: center;
}

.grilla{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.card{
	background: #181818;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 20px;
	color: #fff;
}

.card img{
	width: 100%;
}