body {
	background: #000;
}

.App{
  padding: 20px 50px;
}

h1 {
	color: #fff;
	font-size: 4rem;
	margin: 0.5rem 0;
	text-align: center;
}

.grilla{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.card{
	background: #181818;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 20px;
	color: #fff;
}

.card img{
	width: 100%;
}

.search{
	background: #181818;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	max-width: 700px;
	margin: 30px auto;
}

form{
	width: 100%;
	display: flex;
	border: 1px solid #fff;
	border-radius: 10px;
}

.search input{
	background: transparent;
	border: none;
	color: #fff;
	font-size: 1.5rem;
	padding: 10px;
	width: -webkit-fill-available;
	padding: 10px 20px;
}

.search input:focus{
	outline: none;
}

.search button{
	background: transparent;
	border: none;
	color: #fff;
	font-size: 1.5rem;
	padding: 10px;
	cursor: pointer;
	border-left: 1px solid #fff;
}

.search button:focus{
	outline: none;
}

.search button:hover{
	color: #ccc;
}