html,
body {
  font-family: sans-serif;
  text-align: center;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

input {
  outline: none;
  padding: 1em;
  border-radius: 15px;
  box-shadow: none;
  border: 2px solid pink;
  font-family: "Avenir Next";
  font-size: 20px;
  margin-bottom: 10px;
}

html,
body {
  margin: 0px;
}

html,
body {
  margin: 0px;
  background-color: #1e2027;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Avenir Next";
}

.temp {
  font-family: "Avenir Next";
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  border-radius: 10px;
  margin: 15px;
  width: 100px;
}

h1 {
  font-size: 25px;
  font-family: "Avenir", sans-serif;
  color: #fff;
}